{% extends 'base.html' %}

{% block content %}
{% load static %}
<h1 style="text-align: center; color: blue">
  Welcome to Category page
</h1>
  <div class="container">
  <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">category</th>
           
            

          </tr>
        </thead>
        <tbody>
            {% for category in category %}
          <tr>
            <th scope="row" style="border: 1px solid blue;">{{ category.id }}</th>
            <td><a href="{% url 'product' category.id %}">{{ category.name }}</a></td>
         
           
          </tr>
          {% endfor %}
          </tbody>
        </table>
  </div>

{% endblock content %}