{% extends 'base.html' %}

{% block content %}
{% load static %}
<h1 style="text-align: center; color: blue">
  Welcome to Teacher page
</h1>
  <div class="container">
  <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
          </tr>
        </thead>
 <tbody>
            {% for teacher in teacher %}
          <tr>
            <th scope="row" style="border: 1px solid blue;">{{ teacher.id }}</th>
            <td><a href="{% url 'student' teacher.id %}">{{ teacher.name }}</a></td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
  </div>

{% endblock content %}